absl-py==0.11.0
acronym==1.6.0
aiohttp==3.6.2
alabaster==0.7.12
anaconda-client==1.7.2
anaconda-navigator==1.9.12
anaconda-project==0.8.3
antlr4-python3-runtime==4.7.2
appdirs==1.4.4
applaunchservices==0.2.1
appnope==0.1.0
appscript @ file:///opt/concourse/worker/volumes/live/91c8994f-17d8-4d72-71d5-86defaef485b/volume/appscript_1594840169383/work
arabic-reshaper==2.1.1
argh==0.26.2
argon2-cffi @ file:///opt/concourse/worker/volumes/live/b46b812d-eebc-4040-75c0-7fc24d9bfd54/volume/argon2-cffi_1596828479252/work
arrow==0.17.0
asciitree==0.3.3
asn1crypto @ file:///tmp/build/80754af9/asn1crypto_1596577642040/work
astroid @ file:///opt/concourse/worker/volumes/live/76ddd801-8c2e-42ae-78fe-7e7640c9eb32/volume/astroid_1592495930711/work
astropy==3.2.3
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
atomicwrites==1.4.0
attrs @ file:///tmp/build/80754af9/attrs_1600298409949/work
autopep8 @ file:///tmp/build/80754af9/autopep8_1596578164842/work
Babel==2.8.0
backcall==0.2.0
backports.shutil-get-terminal-size==1.0.0
basemap==1.2.0
beautifulsoup4 @ file:///tmp/build/80754af9/beautifulsoup4_1601924105527/work
binaryornot==0.4.4
bitarray @ file:///opt/concourse/worker/volumes/live/1b875893-5371-4748-6aab-218580a03985/volume/bitarray_1603210384375/work
bkcharts==0.2
bleach @ file:///tmp/build/80754af9/bleach_1600439572647/work
blinker==1.4
bokeh @ file:///opt/concourse/worker/volumes/live/32e4980e-8ef5-45b0-76ac-0a52c01035d7/volume/bokeh_1603297858172/work
boto==2.49.0
Bottleneck==1.3.2
brotlipy==0.7.0
cached-property==1.5.2
cachetools==3.1.1
Cartopy==0.16.0
certifi==2020.6.20
cf-units==2.1.3
cffi @ file:///opt/concourse/worker/volumes/live/e2eb91c2-780d-4f74-545d-c2827857ffe3/volume/cffi_1600699193708/work
cftime @ file:///opt/concourse/worker/volumes/live/3a93fa26-39ea-459d-6c4a-c645e8b6033c/volume/cftime_1595379732046/work
chardet==3.0.4
click==7.1.2
cloudpickle @ file:///tmp/build/80754af9/cloudpickle_1598884132938/work
clyent==1.2.2
cmocean==2.0
colorama @ file:///tmp/build/80754af9/colorama_1603211150991/work
colorcet==2.0.2
colorspacious==1.1.2
conda==4.9.0
conda-build==3.18.11
conda-package-handling @ file:///opt/concourse/worker/volumes/live/57e77785-1861-46bd-6dce-623895e11c8e/volume/conda-package-handling_1603018143703/work
configparser==5.0.1
contextlib2==0.6.0.post1
cookiecutter==1.7.2
cryptography @ file:///opt/concourse/worker/volumes/live/c92b6573-5445-4a21-4a76-9af93cc67a5e/volume/cryptography_1601046836410/work
ctd==1.0.0
cycler==0.10.0
Cython @ file:///opt/concourse/worker/volumes/live/f09f0c71-94c5-4fae-40fc-3cdf6c47ddcc/volume/cython_1594833991083/work
cytoolz==0.11.0
dask==2.6.0
dask-kubernetes==0.10.0
datashader==0.8.0
datashape==0.5.4
decorator==4.4.2
defusedxml==0.6.0
diff-match-patch @ file:///tmp/build/80754af9/diff-match-patch_1594828741838/work
distlib==0.3.1
distributed==2.6.0
docker-pycreds==0.4.0
docrep==0.2.7
docutils==0.16
dukpy==0.2.3
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.0.1
fastcache==1.1.0
fasteners==0.15
filelock==3.0.12
flake8 @ file:///tmp/build/80754af9/flake8_1601911421857/work
Flask==1.1.2
freetype-py==2.2.0
fsspec @ file:///tmp/build/80754af9/fsspec_1602684995936/work
future==0.18.2
gast==0.3.3
gcsfs==0.3.0
gevent @ file:///opt/concourse/worker/volumes/live/64339480-745c-40f3-7a61-7d7f4a1cf807/volume/gevent_1601397549366/work
gitdb==4.0.5
GitPython==3.1.11
glfw==2.0.0
glob2==0.7
gmpy2==2.0.8
google-auth==1.6.3
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet @ file:///opt/concourse/worker/volumes/live/21424f80-7dc7-4e48-6e0e-2c0cb5eb1af8/volume/greenlet_1600874025891/work
grpcio==1.33.2
gsw==3.3.1
h5py==3.0.0
HeapDict==1.0.1
holoviews @ file:///tmp/build/80754af9/holoviews_1600379285602/work
html5lib @ file:///tmp/build/80754af9/html5lib_1593446221756/work
hvplot==0.4.0
hypothesis @ file:///tmp/build/80754af9/hypothesis_1603214073689/work
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
idna-ssl==1.1.0
imageio @ file:///tmp/build/80754af9/imageio_1594161405741/work
imageio-ffmpeg==0.4.2
imagesize==1.2.0
importlib-metadata @ file:///tmp/build/80754af9/importlib-metadata_1602276842396/work
importlib-resources==3.3.0
iniconfig @ file:///tmp/build/80754af9/iniconfig_1602780191262/work
intake==0.5.3
intake-xarray==0.3.1
intervaltree @ file:///tmp/build/80754af9/intervaltree_1598376443606/work
ipykernel @ file:///opt/concourse/worker/volumes/live/43eaf185-e9cd-4e78-5afa-c19accf1339d/volume/ipykernel_1596206683810/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///opt/concourse/worker/volumes/live/8c453bb6-500b-4747-778c-a236ae4a574d/volume/ipython_1593447395779/work
ipython-genutils==0.2.0
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1601490159889/work
isort @ file:///tmp/build/80754af9/isort_1602603989581/work
itsdangerous==1.1.0
javascripthon==0.11
jdcal==1.4.1
jedi==0.15.2
Jinja2==2.11.2
jinja2-time==0.2.0
joblib @ file:///tmp/build/80754af9/joblib_1601912903842/work
json-tricks==3.15.3
json5==0.9.5
jsonschema @ file:///tmp/build/80754af9/jsonschema_1602607155483/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1601311786391/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1598884538475/work
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.6.3
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab==2.2.6
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1594164409481/work
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring @ file:///opt/concourse/worker/volumes/live/afec4c5b-7817-450c-6129-e3bf3be86c4d/volume/keyring_1601490916648/work
kiwisolver==1.2.0
kubernetes==10.0.1
kubernetes-asyncio==10.0.0
lazy-object-proxy==1.4.3
libarchive-c==2.9
livereload==2.6.3
llvmlite==0.34.0
lmoments3==1.0.4+6.gd2f3073
locket==0.2.0
lunr==0.5.8
lxml @ file:///opt/concourse/worker/volumes/live/98ad127c-882e-4cfc-5949-27c8fd1ce35d/volume/lxml_1603216276995/work
macropy3==1.1.0b2
Markdown @ file:///opt/concourse/worker/volumes/live/dab60894-cb02-497b-76b5-4c894cd9c845/volume/markdown_1603216474330/work
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
memory-profiler==0.55.0
mistune==0.8.4
mkdocs==1.1.2
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mock==4.0.2
monotonic==1.5
more-itertools @ file:///tmp/build/80754af9/more-itertools_1598884071673/work
moviepy==1.0.3
mpmath==1.1.0
msgpack==1.0.0
msgpack-numpy @ file:///tmp/build/80754af9/msgpack-numpy_1600704064952/work
multidict==4.5.2
multipledispatch==0.6.0
navigator-updater==0.2.1
nbclient @ file:///tmp/build/80754af9/nbclient_1602783176460/work
nbconvert @ file:///opt/concourse/worker/volumes/live/83354520-8b79-4a5c-771c-53c9f422edfc/volume/nbconvert_1601914843271/work
nbformat @ file:///tmp/build/80754af9/nbformat_1602783287752/work
nbsphinx==0.7.1
nc-time-axis==1.2.0
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1601499549014/work
netCDF4==1.4.2
networkx @ file:///tmp/build/80754af9/networkx_1598376031484/work
nltk @ file:///tmp/build/80754af9/nltk_1592496090529/work
nose==1.3.7
notebook @ file:///opt/concourse/worker/volumes/live/cdd50f32-e012-4ec4-5f72-cf8d8a902618/volume/notebook_1601501566228/work
numba @ file:///opt/concourse/worker/volumes/live/ae24c1ca-d916-4043-5919-a843fa33e451/volume/numba_1600082254583/work
numcodecs @ file:///opt/concourse/worker/volumes/live/9dc4f1f7-dea7-4d6e-604e-dea2424b6e15/volume/numcodecs_1601500076934/work
numdifftools==0.9.39
numexpr==2.7.1
numpy==1.19.3
numpydoc @ file:///tmp/build/80754af9/numpydoc_1594166760263/work
oauthlib==3.1.0
oceans==0.7.0
olefile==0.46
opencv-python==4.4.0.44
openpyxl @ file:///tmp/build/80754af9/openpyxl_1598113097404/work
opt-einsum==3.3.0
OWSLib==0.18.0
packaging==20.4
pandas==1.1.4
pandas-flavor==0.2.0
pandocfilters==1.4.2
panel @ file:///tmp/build/80754af9/panel_1593447469667/work
param==1.9.3
parso==0.5.2
partd==1.1.0
path @ file:///opt/concourse/worker/volumes/live/56eab4f8-14ee-4182-5c20-d130d033081a/volume/path_1598376560593/work
pathlib2==2.3.5
pathtools==0.1.2
patsy==0.5.1
pdf2image==1.12.1
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
Pillow @ file:///opt/concourse/worker/volumes/live/06069510-e277-4aed-54f4-6dfdcb84a461/volume/pillow_1603822272490/work
pkginfo==1.6.0
pluggy==0.13.1
ply==3.11
poyo==0.5.0
proglog==0.1.9
prometheus-client==0.8.0
promise==2.3
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.13.0
psutil @ file:///opt/concourse/worker/volumes/live/338e0e4d-62ab-487e-7319-52d56429fb60/volume/psutil_1598370232038/work
PsychoPy==2020.2.5
ptyprocess==0.6.0
py @ file:///tmp/build/80754af9/py_1593446248552/work
pyasn1==0.4.7
pyasn1-modules==0.2.7
pycodestyle==2.6.0
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pycrypto==2.6.1
pyct @ file:///opt/concourse/worker/volumes/live/d56edf5a-fe5b-40be-7084-246a4dfdefb5/volume/pyct_1600458315463/work
pycurl==7.43.0.6
pydocstyle @ file:///tmp/build/80754af9/pydocstyle_1598885001695/work
pyepsg==0.4.0
pyFFTW==0.12.0
pyflakes==2.2.0
pygame==2.0.0
pyglet==1.5.8
Pygments @ file:///tmp/build/80754af9/pygments_1600458456400/work
PyJWT==1.7.1
pykdtree==1.3.1
pyke==1.1.1
pylint @ file:///opt/concourse/worker/volumes/live/7cea4525-4763-4343-4314-b6c7c20dbe1f/volume/pylint_1598624000729/work
pyobjc-core==6.2.2
pyobjc-framework-Cocoa==6.2.2
pyobjc-framework-Quartz==6.2.2
pyodbc===4.0.0-unsupported
PyOpenGL==3.1.5
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1594392929924/work
pyosf==1.0.5
pyparsing==2.4.7
PyPDF2==1.26.0
pyproj==1.9.5.1
pyrsistent @ file:///opt/concourse/worker/volumes/live/d7ed6755-1956-4a16-5499-c03638db758d/volume/pyrsistent_1600141722278/work
pyserial==3.4
pyshp @ file:///tmp/build/80754af9/pyshp_1600141782871/work
PySocks==1.7.1
pytest==0.0.0
pytest-arraydiff==0.3
pytest-astropy==0.8.0
pytest-astropy-header==0.1.2
pytest-doctestplus @ file:///tmp/build/80754af9/pytest-doctestplus_1598624048543/work
pytest-openfiles==0.5.0
pytest-remotedata==0.3.2
python-bidi==0.4.2
python-dateutil==2.8.1
python-gitlab==2.5.0
python-jsonrpc-server==0.3.4
python-language-server==0.31.9
python-pptx==0.6.18
python-slugify==4.0.1
python-snappy==0.5.4
pytz==2020.1
pyviz-comms @ file:///tmp/build/80754af9/pyviz_comms_1594173261643/work
PyWavelets @ file:///opt/concourse/worker/volumes/live/7b9ed5cc-fdd2-4389-679d-2674cfabb40a/volume/pywavelets_1601658333093/work
PyYAML==5.3.1
pyzmq==19.0.2
QDarkStyle==2.8.1
QtAwesome @ file:///tmp/build/80754af9/qtawesome_1602272867890/work
qtconsole==4.7.2
QtPy==1.9.0
questplus==2019.4
readchar==2.0.1
regex @ file:///opt/concourse/worker/volumes/live/8b70db42-58a0-4356-58c7-a9ae8a9cc3ca/volume/regex_1602786653693/work
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.2.0
rope @ file:///tmp/build/80754af9/rope_1602264064449/work
rsa==4.0
Rtree==0.9.4
ruamel-yaml==0.15.87
-e git+https://github.com/sdat2/scikit-extremes.git@44e3e016e4e7b3b79d04d25b5a61408f34bf517b#egg=scikit_extremes
scikit-image==0.15.0
scikit-learn @ file:///opt/concourse/worker/volumes/live/5aebc36a-9e26-4cf4-48a2-103c2e39086d/volume/scikit-learn_1598376928019/work
scipy==1.4.1
scitools-iris==2.3.0
seaborn @ file:///tmp/build/80754af9/seaborn_1600553570093/work
seawater==3.3.4
Send2Trash==1.5.0
sentry-sdk==0.19.1
Shapely==1.6.4.post1
shortuuid==1.0.1
simplegeneric==0.8.1
singledispatch @ file:///tmp/build/80754af9/singledispatch_1602523705405/work
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcollections==1.2.1
sortedcontainers==2.2.2
sounddevice==0.4.1
SoundFile==0.10.3.post1
soupsieve==2.0.1
Sphinx @ file:///tmp/build/80754af9/sphinx_1597428793432/work
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-websupport @ file:///tmp/build/80754af9/sphinxcontrib-websupport_1597081412696/work
spyder==4.1.2
spyder-kernels @ file:///opt/concourse/worker/volumes/live/11031f13-c946-4203-7514-dd739631db34/volume/spyder-kernels_1599056789089/work
SQLAlchemy @ file:///opt/concourse/worker/volumes/live/d5b640de-608a-4613-7249-98241b05c342/volume/sqlalchemy_1598374749011/work
statsmodels==0.11.1
subprocess32==3.5.4
sympy @ file:///opt/concourse/worker/volumes/live/d7320674-d896-4090-5093-792786a96ad2/volume/sympy_1598376343695/work
tables==3.6.1
tblib @ file:///tmp/build/80754af9/tblib_1597928476713/work
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-estimator==2.3.0
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
text-unidecode==1.3
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
toml @ file:///tmp/build/80754af9/toml_1592853716807/work
toolz @ file:///tmp/build/80754af9/toolz_1601054250827/work
tornado==6.0.4
tox==3.20.1
tqdm @ file:///tmp/build/80754af9/tqdm_1602185206534/work
traitlets==4.3.3
typed-ast==1.4.1
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
ujson==1.35
uncertainties @ file:///home/conda/feedstock_root/build_artifacts/uncertainties_1591647303808/work
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
virtualenv==20.1.0
wandb==0.10.8
watchdog @ file:///opt/concourse/worker/volumes/live/3be7c7d9-866e-4b54-7a14-e73f57b816a3/volume/watchdog_1593447344836/work
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==0.56.0
Werkzeug==1.0.1
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.11.2
wurlitzer @ file:///opt/concourse/worker/volumes/live/629dc498-dffd-47db-6bc8-01e1c73271f0/volume/wurlitzer_1594753845784/work
wxPython==4.1.0
xarray==0.14.1
xgcm==0.2.0
xlrd==1.2.0
XlsxWriter @ file:///tmp/build/80754af9/xlsxwriter_1602692860603/work
xlwings==0.20.8
xlwt==1.2.0
xmitgcm==0.4.1
xmltodict==0.12.0
yapf @ file:///tmp/build/80754af9/yapf_1593528177422/work
yarl==1.3.0
zarr==2.3.2
zict==2.0.0
zipp @ file:///tmp/build/80754af9/zipp_1603306325174/work
zope.event==4.5.0
zope.interface @ file:///opt/concourse/worker/volumes/live/59a41753-aedd-4e6d-62ab-b1fedafa9d93/volume/zope.interface_1602002461838/work
